@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,800&display=swap');

* {
margin: 0;
padding: 0;
border: none;
}

:root {
    --dark-blue: #201767;
    --blue: #004491;
    --orange: #f27355;
    --white: #ffffff;
    --light-blue: #EAF3FA;
  }

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Playfair Display', 'Times New Roman', serif;
    font-size: 280%;
    font-weight: 800;
}

h2 {
    font-family: 'Playfair Display', 'Times New Roman', serif;
    font-size: 200%;
    font-weight: 800;
}

h3 {
    font-family: 'Playfair Display', 'Times New Roman', serif;
    font-size: 150%;
}

.button {
    padding: 15px 30px;
    border: 1px solid --orange;
    border-radius: 30px 30px 30px;
    color: var(--white);
    background-color: var(--orange);
    display: inline-block;
    margin-top: 2em;
    text-decoration: none;
}

.button:hover {
    padding: 15px 30px;
    border: 1px solid --orange;
    border-radius: 30px 30px 30px;
    color: var(--white);
    background-color: var(--dark-blue);
    display: inline-block;
    margin-top: 2em;
    text-decoration: none;
}

p {
    font-size: 18px;
}

/* header and navigation style */

header {
    background-color: var(--dark-blue);
    height: 75px;
}

#logo, #menu {
    line-height: 75px;
}

#logo {
    float: left;
    margin: 5px 0 5px 30px;
    height: 60px;
}

#menu {
    float: right;
}

#menu li {
    display: inline-block;
    margin-right: 30px;
    font-size: 110%;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: var(--white);
}

#menu a:hover {
    text-decoration: none;
    color: var(--orange);
}

.active {
    color: var(--orange) !important;
}

/* Hero styling */

#hero {
    height: 600px;
}

#hero-text {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

#hero-text > h1 {
    margin-top: 15%;
}
#hero-text > h1, #hero-text > p, #hero-text a {
    margin-left: 20%;
}

#hero-text > p {
    margin-top: 2em;
}

#hero-image {
    background-image: url('../images/Home-hero-900x600.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 50%;
    float: right;
    height: 600px;
    box-sizing: border-box;
}

/* clients list */

#clients {
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    width: 100%;
}

#clients > img {
margin: 2% auto;
}

/* What we do */

.our-services {
    margin: 32px 0;
    width: 100%;
    text-align: center;
}

.card {
    width: 29%;
    margin: 2%;
    display: inline-block;
}

.card > img {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 100px;
    height: 100px;
}

.card > p {
    margin-top: 2em;
}

/* search-services */

.search-services-light-blue {
    background: var(--light-blue);
    width: 100%;
    height: 450px;
}


#seo-image {
    background-image: url('../images/destination-search-900x600.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 50%;
    float: left;
    height: 380px;
    margin: 35px 0;
}

.right-about-text {
    width: 50%;
    float: right;
    margin-top: 32px;
}

.right-about-text > div {
    width: 70%;
    margin: 0 auto;
}

.search-services-white {
    height: 450px;
    width: 100%;
}

#ppc-image {
    background-image: url('../images/hotel-search-900x600.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 50%;
    float: right;
    height: 380px;
    margin: 35px 0;
}

.left-about-text {
    width: 50%;
    float: left;
    margin-top: 32px;
}

.left-about-text > div {
    width: 70%;
    margin: 0 auto;
}

.left-about-text > div > p, .right-about-text > div > p {
    margin-top: 32px;
}

#booking-image {
    background-image: url('../images/room-booking-900x600.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 50%;
    float: left;
    height: 380px;
    margin: 35px 0;
}

/* contact form */

.form-section {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 32px 0;
}

form > div {
    margin: 16px 0;
}

label, .text-input {
    width: 300px;
}

form > input {
    width: -webkit-fill-available;
}

.text-input {
    border: 1px solid var(--dark-blue);
    border-radius: 5px;
    padding: 16px;
    display: block;
}

/* footer */

footer {
    background-color: var(--dark-blue);
    color: var(--white);
    width: 100%;
    text-align: center;
    display: inline-block;
}

footer > div > div {
    float: left;
    width: 29%;
    margin: 2%;
}

.socials {
    color: var(--white);
}

.socials i {
    color: var(--white);
}
footer li {
    list-style-type: none;
}

.uppercase {
    text-transform: uppercase;
}

footer hr {
    height: 16px;
}

#logo-footer {
    height: 90px;
}

/* Media queries */

/* For larger to medium screens size from 768px wide and down */

@media screen and (max-width: 768px) {
    footer > div > div {
        float: none;
        margin: 0 auto;
        width: 300px;
    }
}     

