@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,800&display=swap');

* {
margin: 0;
padding: 0;
border: none;
}

:root {
    --dark-blue: #201767;
    --blue: #004491;
    --orange: #f27355;
    --white: #ffffff;
    --light-blue: #EAF3FA;
  }

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Playfair Display', 'Times New Roman', serif;
    font-size: 280%;
    font-weight: 800;
}

h2 {
    font-family: 'Playfair Display', 'Times New Roman', serif;
    font-size: 200%;
    font-weight: 800;
}

h3 {
    font-family: 'Playfair Display', 'Times New Roman', serif;
    font-size: 150%;
}

.button {
    padding: 15px 30px;
    border: 1px solid --orange;
    border-radius: 30px 30px 30px;
    color: var(--white);
    background-color: var(--orange);
    display: inline-block;
    margin-top: 2em;
}

/* header and navigation style */

header {
    background-color: var(--dark-blue);
    height: 75px;
}

#logo, #menu {
    line-height: 75px;
}

#logo {
    float: left;
    margin-left: 30px;
    font-size: 200%;
    color: var(--white);
    text-decoration: none;
}

#menu {
    float: right;
}

#menu li {
    display: inline-block;
    margin-right: 30px;
    font-size: 110%;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: var(--white);
}

#menu a:hover {
    text-decoration: none;
    color: var(--orange);
}

.active {
    color: var(--orange) !important;
}

/* Hero styling */

#hero {
    height: 600px;
}

#hero-text {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

#hero-text > h1 {
    margin-top: 15%;
}
#hero-text > h1, #hero-text > p {
    margin-left: 20%;
}

#hero-text > p {
    margin-top: 2em;
}

#hero-image {
    background-image: url('../images/Home-hero-900x600.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 50%;
    float: right;
    height: 600px;
    box-sizing: border-box;
}

/* clients list */

#clients {
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    width: 100%;
}

#clients > img {
margin: 2% auto;
}

/* What we do */

.our-services {
    margin: 32px 0;
    width: 100%;
    text-align: center;
}

.card {
    width: 29%;
    margin: 2%;
    float: left;
}

.card > img {
    margin-top: 32px;
    margin-bottom: 32px;
    width: auto;
    height: auto;
}

.card > p {
    margin-top: 2em;
}

